<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  </div>
  <div *ngIf="selectedHero">
    <h2>
    {{selectedHero.name}} details!
  </h2>

<div><label>id: </label>{{selectedHero.id}}</div>
<div>
  <label>name: </label>
  <input [(ngModel)]="selectedHero.name" placeholder="name">
</div>
</div>
<img src=".\assets\images\ygritte.jpg" width= 400px; height= auto; />

<ul class="heroes">
  <li *ngFor="let hero of heroes" 
      (click)="onSelect(hero)" 
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>

